<script type="text/x-handlebars-template" id="testOne">
	<div></div>
</script>

<script type="text/x-handlebars-template" id="testTwo">
	<div></div>
</script>

<script type="text/x-handlebars-template" id="testThree">
	<div></div>
</script>